<p style="text-align: center; font-size: 125%;">
  <a href="https://codeburg.org/skooliehq/"><i class="fab fa-git"></i></a>
  <a href="https://skooliehq.codeberg.page/docs"><i class="fas fa-book"></i></a>
  <a href="https://skooliehq.codeberg.page/"><i class="fas fa-globe"></i></a>
</p>
<p>Built with <a href="https://github.com/matcornic/hugo-theme-learn"><i class="fas fa-heart"></i></a> from <a href="https://getgrav.org">Grav</a> and <a href="https://gohugo.io/">Hugo</a></p>
